Architecture: iphoneos-arm
Name: Senka's Zeppelin Icon Pack
Package: com.senkawolf.senkaszeppeliniconpack
Version: 1.0
Size: 124kB
Maintainer: Senka Wolf <ryan@senkawolf.com>
Depends: com.alexzielenski.zeppelin
Description: Contains logos for Zeppelin.
Section: Addons (Zeppelin)
